{%extends 'projects/base.html'%}
{%load static%}
{%load columns%}

{%block content%}
<body style="background-color:rgb(6,6,6);">

</body>

<header style="background-image:url('{%static 'photos/social-media-2528410_1920.jpg' %}');background-size:cover;background-position:cover;background-repeat:no-repeat;padding-bottom:41.25%;">
    <h3 class="text-center" style="color:white;padding-top:0.125%;">Your views matter</h3>
</header>

<div class="container">
     <div class="row row-featured" style="margin-top:1%;margin-bottom:1%;">
        {%if fprojects%}
            {%for col in fprojects|columns:12%}
            <div class="col-sm-1">
                {%for project in col%}
                <figure>
                    <img src="{{project.landing_pic.url}}" class="rounded figure-img rounded img-responsive featured" height="30" width="40" style="max-width:100%;">
                </figure>
                {%endfor%}
            </div>
            {%endfor%}
        {%endif%}
    </div>
</div>

<div class="container" style="background-color:#F3EADB;padding:1.5%;margin-bottom:2.5%;">
    <div class="row" style="margin-top:1%;margin-bottom:2.5%;">
        {%if projects%}
        <h1 class="text-center">Projects Pool</h1>
            {%for col in projects|columns:2%}
            <div class="col-lg-6">
                {%for project in col%}
                <div class="card" style="max-width:100%;margin-top:2.5%;">
                    <h6 style="margin-top:1%;margin-left:1.5%;">{{project.short_description}}  <span style="float:right;font-size:smaller;margin-right:1%;"><a href="{% url 'project' project.id %}">Rate this</a></span></h6>
                    <a href="{%url 'project' project.id%}"><img src="{{project.landing_pic.url}}" class="rounded card-img img-responsive zoom" alt="{{project.description}}" id="Img 1" style="height:400px;width:100%;"></a>
                    <div class="card-footer">
                        <small class="text-muted">
                           <span> {{project.published|timesince}} ago </span> | <span style="text-align:center;">{{project.creator}}</span>
                            <small style="float: right;padding-top:1%;">
                                <a href="{% url 'project' project.id %}" type="button" class="btn btn-dark btn-outline-info">
                                    Project details
                                </a>
                            </small>
                        </small>
                    </div>
                </div>
                {%endfor%}
            </div>
            {%endfor%}
        {%endif%}
    </div>
</div>
{%endblock%}