{%load static%}

{%if user.is_authenticated%}
<ul class="nav justify-content-center sticky-top nav-tabs bg-light" style="padding-bottom:0.5%;padding-top:0.5%;opacity:0.98;">
  <a class="navbar-brand" href="/" style="color:black;">
    <img src="{%static 'photos/customer-review-4396641_1920.png'%}" alt="" width="40" height="38" style="background-color:#f5ebe0;border-radius:50%;margin-top:0.25%;margin-left:1.5%;">
    shaReview
  </a>
  <li class="nav-item nav-tit">
    <a class="nav-link" aria-current="page" href="/" style="border-style:ridge;">Home</a>
  </li>
  <a class="nav-item nav-it" href="{%url 'api'%}" style="margin-left:2.5%;">
    <img src="{%static 'photos/bubbles-1985153_640.png'%}" alt="" width="40" height="38" style="background-color:#f5ebe0;border-radius:50%;margin-top:0.25%;margin-left:1.5%;">
    <a class="nav-link nav-it" href="{%url 'api'%}" style="border-style:groove;">API</a>
  </a>
  <form class="d-flex" role="search" action="{%url 'search_results'%}" style="margin-left:1.5%;">
    <button style="width:15%;margin-top:2%;" class="btn btn-sm btn-outline-light" type="submit"><svg aria-label="Search" color="#8e8e8e" fill="#8e8e8e" height="16" role="img" viewBox="0 0 24 24" width="16"><path d="M19 10.5A8.5 8.5 0 1110.5 2a8.5 8.5 0 018.5 8.5z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="16.511" x2="22" y1="16.511" y2="22"></line></svg></button>
    <input class="form-control me-2" type="search" placeholder="Search for projects by term" aria-label="Search" name="project">
  </form>
  <li class="nav-item nav-it">
    <a class="nav-link" href="{%url 'new-project'%}" style="border-style:groove;">Add project</a>
  </li>
  <li class="nav-item nav-it-prof">
    <a class="nav-link" href="{%url 'profile' user.id%}" style="border-style:groove;">Profile</a>
  </li>
  <li class="nav-item nav-it-prof">
    <a class="nav-link" href="{%url 'logout'%}" style="border-style:groove;">Logout</a>
  </li>
</ul>

{%else%}
<ul class="nav justify-content-center sticky-top nav-tabs">
  <li class="nav-item nav-it-prof">
    <a class="nav-link active" href="/accounts/login/">Login</a>
  </li>
  <li class="nav-item nav-it-prof">
    <a class="nav-link active" href="/accounts/register/">Register</a>
  </li>
</ul>
{%endif%}