{%load columns%}

{%block profile_posts%}
<div class="row" style="margin-top:2.5%;margin-bottom:2.5%;">
{%if projects%}
{%for col in projects|columns:3%}
<div class="col-lg-4">
{%for project in col%}
    <a href="{% url 'project' project.id %}">
        <img src="{{project.landing_pic.url}}" id="profile-post" class="img-responsive zoom" width="100%" height="300" style="margin-top:2.5%;"  alt="user-post-image">
    </a>
    {%endfor%}
    </div>
    {%endfor%}
    {%else%}
    <div class="card">
                <h5 class="card-title text-center" style="color:black;">Your projects will appear here</h5>
                <p class="card-text text-center" style="color:black;">Why don't you <span><a href="{%url 'new-project' %}" type="button" class="btn btn-sm btn-outline-dark btn-info">share</a></span> something?</p>
            </div>
    {%endif%}
</div>
{%endblock%}