{%extends 'projects/base.html'%}
{%load static%}
{%load bootstrap5%}


{%block content%}
<body style="background-image:url('{%static 'photos/panorama-7245029_1920.jpg' %}');background-size:cover;background-position:cover;background-repeat:repeat;color:white;height:100vh;">
<div class="container">
    <div class="row" style="margin-top:1.5%;">
    {%if profile%}
    <div class="col-lg-2">
        <img src="{{profile.p_pic.url}}" alt="Change profile photo" class="cuser-p-photo img-responsive" width="150" height="150" style="border-radius:50%;">
    </div>
    <div class="col-lg-4">
        <h1>{{profile.username}}</h1>
        <h6>{{profile.bio}}</h6>
        {%else%}
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <p>You have not added a profile photo or bio. <a href="{%url 'bio' user.id%}" type="button" class="btn btn-sm btn-outline-info btn-dark">Add now?</a></p>
        </div>
        <div class="col-sm-4"></div>
        {%endif%}
        {%if projects%}
        <p><span><strong>{{projects|length}}</strong></span> projects</p>
        {%else%}
        <p>0 projects</p>
        {%endif%}
    </div>
    <div class="col-lg-4"></div>
</div>

<hr>

{%if contact%}
    <div class="container">
        <div class="table-responsive">
        <table class="table table-striped-columns table-hover" style="width:80%;margin-left:7.5%;">
    <thead class="table-info">
    <tr class="table-active">
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
    </tr>
  </thead>
    <tbody class="table-success">
    <tr class="table-active">
        <td class="table-active">{{contact.first_name}}</td>
        <td class="table-active">{{contact.last_name}}</td>
        <td class="table-active">{{contact.email}}</td>
        <td class="table-active">{{contact.phone}}</td>
        <td class="table-active">{{contact.address}}</td>
    </tr>
    </tbody>
</table>
    </div>
    </div>


{%else%}
    <div class="container">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <p>Add your contact details <a href="{%url 'contact' user.id%}" type="button" class="btn btn-outline-info btn-dark btn-sm">here</a></p>
        </div>
        <div class="col-md-4"></div>
    </div>

{%endif%}
<hr>
    <div class="container">
      {%include 'user/posts.html'%}
    </div>

</div>
</body>


{%endblock%}